@font-face {
    font-family: 'yugiFont';
    src: url('../../fonts/yu-gi-oh-matrix.ttf') format('truetype');
}
@font-face {
    font-family: 'yugiSolid';
    src: url('../../fonts/yu-gi-oh-matrix-bold.ttf') format('truetype');
}

.f-brand{
    font-family:'yugiFont', cursive;
}

.f-brand-solid{
    font-family:'yugiSolid', cursive;
}